table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 80%;
}
th{
    background-color: lightpink;
    color: black;
    padding: 10px;
}
td{
    padding: 8px;
    
}

tr:hover{
    background-color: lightskyblue;
    cursor: pointer;
}

.tc{
    text-align: center;
}